{% extends "../template/base.html" %}
{% load static %}
{% block isi %}
{% comment %} give me table with column kategori, status, and aksi(edit)  {% endcomment %}
{% comment %} button add modal  {% endcomment %}
{% comment %} msg {% endcomment %}
<div id="msg"></div>
<div class="w-full flex justify-end gap-3">
  <button href="" class="btn btn-primary" id="buttonAddModal" data-bs-toggle="modal" data-bs-target="#addModalKategori">Add Kategori</button>
</div>
<div class="w-full overflow-x-auto">
  <table id="kategoriTable" class="cell-border table">
    {% csrf_token %}
    <thead>
      <tr>
        <th>Kategori</th>
        <th>Status</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
{% comment %} modal add with input kategori,status select {% endcomment %}
<div class="modal fade" id="addModalKategori" tabindex="-1" aria-labelledby="addModalKategoriLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalKategoriLabel">Add Kategori</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="mb-3">
                        <label for="kategoriAdd" class="form-label">Kategori</label>
                        <input type="text" class="form-control" id="kategoriAdd" name="kategori" required>
                    </div>
                    <div class="mb-3">
                        <label for="statusAdd" class="form-label">Status</label>
                        <select class="normalize" id="statusAdd" name="status" required>
                            <option value="">Select Status</option>
                            <option value="AC">Active</option>
                            <option value="DC">Deactive</option>
                        </select>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="addFormKategori" id="buttonAddKategori" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
{% comment %} modal edit with input kategori,status select {% endcomment %}
<div class="modal fade" id="editModalKategori" tabindex="-1" aria-labelledby="editModalKategoriLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalKategoriLabel">Edit Kategori</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3">
            <label for="kategoriEdit" class="form-label">Kategori</label>
            <input type="text" class="form-control" id="kategoriEdit" name="kategori" required>
          </div>
          <div class="mb-3">
            <label for="statusEdit" class="form-label">Status</label>
            <select class="normalize" id="statusEdit" name="status" required>
              <option value="">Select Status</option>
              <option value="AC">Active</option>
              <option value="DC">Deactive</option>
            </select>
          </div>
          <input type="hidden" name="idEdit" id="idEdit">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" form="editFormKategori" id="buttonEditKategori" class="btn btn-primary">Save</button>

      </div>
    </div>
  </div>
</div>

{% comment %} javascipt to static js/kategori.js {% endcomment %}
{% endblock isi %}
{% block js %} 
<script src="{% static "js/kategori.js" %}?8237"></script>
{% endblock js %}
{% comment %} table for kategori {% endcomment %}