{% extends "../template/base.html" %} {% load static %} {% block isi %}

<div class="w-full overflow-x-auto">
  <table class="tableLaporan cell-border">
    {% csrf_token %}
    <thead>
      <tr>
        <th>Tanggal Transaksi</th>
        <th>Qty Terima</th>
        <th>Qty Keluar</th>
        <th>Stok</th>
        <th>Kode</th>
        <th>Person</th>
        <th>Barang</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
{% endblock isi %}
{% block js %}
<script src="{% static "js/laporan.js" %}?5434"></script>
{% endblock js %}
