{% extends "../template/base.html" %}

{% load static %}

{% block isi %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="msg"></div>
{% comment %} <div class="w-full">
  <div class="w-1/4">
    <label for="dateRangePembelian" class="mb-2">Pilih Tanggal <b>Pembelian</b></label>
    <input type="text" name="daterange" id="dateRangePembelian" class="form-control w-full" />
  </div>
</div> {% endcomment %}
<div class="w-full flex justify-between">
  <div class="flex gap-2">
    <button href="" class="btn btn-secondary position-relative" id="postingAdd" data-bs-toggle="modal" data-bs-target="#posting">
      Posting
      <span class="position-absolute top-0 start-100 count-tPembelian translate-middle badge rounded-pill bg-danger">
        0
      </span>
    </button>
    <span class="flex flex-wrap items-center gap-x-1 text-sm text-gray-600 dark:text-neutral-400">
      <kbd class="min-h-[30px] inline-flex justify-center items-center py-1 px-1.5 bg-gray-200 font-mono text-sm text-gray-800 rounded-md">
        alt
      </kbd>
      +
      <kbd class="min-h-[30px] inline-flex justify-center items-center py-1 px-1.5 bg-gray-200 font-mono text-sm text-gray-800 rounded-md">
        p
      </kbd>
    </span>
  </div>
  <div class="flex gap-2">
    <span class="flex flex-wrap items-center gap-x-1 text-sm text-gray-600 dark:text-neutral-400">
      <kbd class="min-h-[30px] inline-flex justify-center items-center py-1 px-1.5 bg-gray-200 font-mono text-sm text-gray-800 rounded-md">
        alt
      </kbd>
      +
      <kbd class="min-h-[30px] inline-flex justify-center items-center py-1 px-1.5 bg-gray-200 font-mono text-sm text-gray-800 rounded-md">
        a
      </kbd>
    </span>
    <button href="" class="btn btn-primary" id="buttonAdd" data-bs-toggle="modal" data-bs-target="#modalAddTPembelian">Add Pembelian</button>
  </div>
</div>
<div class="w-full overflow-x-auto">
  <table class="tablePembelian cell-border">
   {% csrf_token %}
   <thead>
       <tr>
           <th>Tanggal Pembelian</th>
           <th>Nama Barang</th>
           <th>Harga</th> 
           <th>Qty</th>
           <th>Sub Total</th>
           <th>Aksi</th>
       </tr> 
   </thead>
   <tbody>
       
   </tbody>
  </table>
</div>


   <div class="modal fade" id="modalEditPembelian" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="msgModaEdit"></div>
          <div class="mb-3">
            <label for="tgl_beli" class="form-label" class="capitalize">Tanggal Pembelian</label>
            <input type="datetime-local" required class="form-control" id="tgl_beliEdit">
          </div>
          <div class="mb-3">
            <label for="barang" class="capitalize mb-[8px]">barang</label>
            <select class="normalize editSelect" required id="barangEdit" name="barang" aria-label="Default select example">
              <option selected value="">Open this select menu</option>
              {% for b in data %}
               <option value="{{b.pk}}" data-harga={{b.harga}}>{{b.barang}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="harga" class="form-label" class="capitalize">harga</label>
            <input type="text" required class="form-control" id="hargaEdit">
            </span>
          </div>
          <div class="mb-3">
            <label for="qty" class="form-label" class="capitalize">qty</label>
            <input type="text" required class="form-control" id="qtyEdit">
            <input type="hidden" name="id" id="idEdit">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="editPembelian">Save changes</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="modalAddTPembelian" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Pembelian</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <div class="msgModalTambah"></div>
          <div class="mb-3">
            <label for="tgl_beli" class="form-label" class="capitalize">Tanggal Pembelian</label>
            <input type="datetime-local" required class="form-control" id="tgl_beliAdd">
          </div>
          <div class="mb-3">
            <label for="barang" class="capitalize mb-[8px]">barang</label>
            <select class="normalize" focus="true" data-live-search="true" required id="barangAdd" name="barang">
              <option selected  value="">Open this select menu</option>
              {% for b in data %}
               <option value="{{b.pk}}" data-harga={{b.harga}}>{{b.barang}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="harga" class="form-label" class="capitalize">harga</label>
            <input type="text" required class="form-control" id="hargaAdd">
            <span class="text-xs text-gray-700 font-light">Harga Sebelumnya <span class="hargaSeb font-bold">Rp 0</span>
            </span>
          </div>
          <div class="mb-3">
            <label for="qty" class="form-label" class="capitalize">qty</label>
            <input type="text" required class="form-control" id="qtyAdd">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="addPembelian">Add</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="modalEditTPembelian" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Edit Temporary Pembelian</strong></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="msgModaEdit"></div>
          <div class="mb-3">
            <label for="tgl_beli" class="form-label" class="capitalize">Tanggal Pembelian</label>
            <input type="datetime-local" required class="form-control" id="tgl_beliTEdit">
          </div>
          <div class="mb-3">
            <label for="barang" class="capitalize mb-[8px]">barang</label>
            <select class="normalize editSelect" required id="barangTEdit" name="barang" aria-label="Default select example">
              <option selected value="">Open this select menu</option>
              {% for b in data %}
               <option value="{{b.pk}}" data-harga={{b.harga}}>{{b.barang}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="harga" class="form-label" class="capitalize">harga</label>
            <input type="text" required class="form-control" id="hargaTEdit">
            </span>
          </div>
          <div class="mb-3">
            <label for="qty" class="form-label" class="capitalize">qty</label>
            <input type="text" required class="form-control" id="qtyTEdit">
            <input type="hidden" name="id" id="idTEdit">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="editTPembelian">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal modal-lg fade" id="posting" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"><strong>Posting Pembelian</strong></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="tableTPembelian cell-border w-full ">
            {% csrf_token %}
            <thead class="w-full">
                <tr>
                    <th>Select</th>
                    <th>Tanggal Pembelian</th>
                    <th>Nama Barang</th>
                    <th>Harga</th> 
                    <th>Qty</th>
                    <th>Sub Total</th>
                    <th>Aksi</th>
                </tr> 
            </thead>
            <tbody>
                
            </tbody>
           </table> 
        </div>
        <div class="modal-footer">
            <button href="" class="btn btn-primary mx-[10px]" id="buttonPostSelect">Post Selected Row</button>
            <button href="" class="btn btn-warning text-white" id="buttonPostAll">Post All</button>
        </div>
      </div>
    </div>
  </div>

  
   {% endblock isi %}
   {% block js %}
    <script src="{% static "js/tablepembelian.js" %}?45454"></script>
  {% endblock js %}