{% extends "../template/base.html" %}

{% load static %}

{% block isi %}
<span id="msg"></span>
<div class="d-flex justify-content-end mb-3">
  <button href="" class="btn btn-primary" id="buttonAddModal" data-bs-toggle="modal" data-bs-target="#addModalBarang">Add Barang</button>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="">
  <table class="tableBarang table cell-border" style="width: 100%;">
   {% csrf_token %}
   <thead>
       <tr>
           <th>Nama Barang</th>
           <th>Harga Beli</th>
           <th>Harga Jual</th>
           <th>Kategori</th>
           <th>Stok</th>
           <th>Status</th>
           <th>Aksi</th>
       </tr>
   </thead>
   <tbody>
       
   </tbody>
  </table>
</div>
   <div class="modal fade" id="addModalBarang" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Barang</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="nama_barangAdd" class="form-label">Nama Barang</label>
            <input type="text" class="form-control" id="nama_barangAdd">
          </div>
          <label for="KategoriAdd" class="form-label">Kategori</label>
          <select class="normalize mb-3" id="kategoriAdd" name="kategoriAdd" aria-label="Default select example">
            <option selected value="">Open this select menu</option>
            {% for k in kategori %}
              <option value="{{k.pk}}">{{ k.kategori }}</option>
            {% endfor %}
          </select>
          {% comment %} <div class="mb-3">
            <label for="harga_barangAdd" class="form-label">Harga Barang</label>
            <input type="text" max class="form-control" id="harga_barangAdd" value="0">
          </div> {% endcomment %}
          <div class="mb-3">
            <label for="hargaJ_barangAdd" class="form-label">Harga Jual Barang</label>
            <input type="text" max class="form-control" id="hargaJ_barangAdd" value="0">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="buttonAddBarang">Save changes</button>
        </div>
      </div>
    </div>
  </div>
   <div class="modal fade" id="editModalBarang" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <span id="msgEdit"></span>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Barang</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="nama_barangEdit" class="form-label">Nama Barang</label>
            <input type="text" class="form-control" id="nama_barangEdit">
          </div>
          {% comment %} <div class="mb-3">
            <label for="harga_barangEdit" class="form-label">Harga Barang</label>
            <input type="text" class="form-control" id="harga_barangEdit" disabled>
          </div> {% endcomment %}
          <label for="kategoriEdit">Kategori</label>
          <select class="normalize mt-1 mb-3" id="kategoriEdit" name="kategoriEdit" aria-label="Default select example">
            <option selected value="">Open this select menu</option>
            <option value="1">coba</option>
            <option value="1">coba</option>
            <option value="1">coba</option>
            {% for k in kategori %}
              <option value="{{k.pk}}">{{ k.kategori }}</option>
            {% endfor %}
          </select>
          <div class="mb-3">
            <label for="hargaJ_barangEdit" class="form-label">Harga Jual Barang</label>
            <input type="text" class="form-control" id="hargaJ_barangEdit">
            <input type="hidden" name="id" id="idEdit">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="buttonEditBarang">Save changes</button>
        </div>
      </div>
    </div>
  </div>

   {% endblock isi %}
   {% block js %}
        <script src="{% static "js/tablebarang.js" %}?84848949"></script>
    {% endblock js %}
