<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse !important;
      }
    
      th, td {
        padding: 2px;
        margin: 0 ;
        border: 1px solid black !important;
        line-height: 1;
      }
    
      .format-text{
        color: black;
      }
    </style>
  </head>
  <body style="font-size:9px;">
    <p style="text-align: center"><strong>Laporan Pembelian</strong></p>
    <table style="width: 100%" class="table" border="1" cellspacing="0"  cellpadding="0">
      <thead>
        <tr>
          <th align="center" class="format-text">Tanggal Pembelian</th>
          <th>Nama Barang</th>
          <th align="center">Harga</th>
          <th align="center">Qty</th>
          <th align="center">Sub Total</th>
        </tr>
      </thead>
      <tbody>
        {% for dt in data %}
        <tr>
          <td align="center" style="height: 1.5em; padding-left: 0.5em">
            {{dt.tgl_beli}}
          </td>
          <td style="height: 1.5em; padding-left: 0.5em">{{dt.barang}}</td>
          <td align="right" style="height: 1.5em; padding-left: 0.5em">
            {{dt.harga}}
          </td>
          <td align="right" style="height: 1.5em; padding-left: 0.5em">
            {{dt.qty}}
          </td>
          <td align="right" style="height: 1.5em; padding-left: 0.5em">
            {{dt.subTotal}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <th colspan="4" align="right">Total</th>
        <th align="center">Rp {{total}}</th>
      </tfoot>
    </table>
    <footer style="margin-top: 200px">TTD</footer>
  </body>
</html>
