<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse !important;
      }
    
      th, td {
        padding: 2px;
        margin: 0 ;
        border: 1px solid black !important;
        line-height: 1;
      }
    
      .format-text{
        color: black;
      }
    </style>
  </head>
  <body style="font-size:9px;">
    <p style="text-align: center"><strong>Laporan Pengeluaran</strong></p>
    <table style="width: 100%" border="1">
      <thead>
        <tr>
          <th align="center" class="">Tanggal Pengeluaran</th>
          <th align="center">Nama Barang</th>
          <th align="center">Qty</th>
          <th align="center">Counter Bagian</th>
          <th align="center">Nama Orang</th>
        </tr>
      </thead>
      <tbody>
        {% for dt in data %}
        <tr>
          <td style="height: 1.5em; padding-left: 0.5em">{{dt.tgl_keluar}}</td>
          <td style="height: 1.5em; padding-left: 0.5em">{{dt.barang}}</td>
          <td align="right" style="height: 1.5em; padding-left: 0.5em">
            {{dt.qty}}
          </td>
          <td style="height: 1.5em; padding-left: 0.5em">
            {{dt.counter_bagian}}
          </td>
          <td style="height: 1.5em; padding-left: 0.5em">
            {% if not dt.nama_person %} - {% else %} {{dt.nama_person}}
            {%endif%}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <footer style="margin-top: 200px">TTD</footer>
  </body>
</html>
