{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "bootstrap-5.3.3-dist/css/bootstrap.min.css" %}">
    <title>Document</title>
</head>
<body>
    <div class="" style='break-after:page;font-size:9px;'>
        <div class="row d-flex justify-content-between">
            <h2>Perincian Pengeluaran Divisi Berbayar / Potong Faktur</h2>
            <div class="col-12 mx-1 mb-5">
                <table class="tprint" border='1' cellspacing="0" cellpadding="0">
                      <thead>
                        <tr>
                            <th class="hprint">Divisi</th>
                            <th class="hprint">Tipe Pembayaran</th>
                            <th class="hprint">Sub Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bd in bydivisi %}
                        {% for tipe in bd.tipe %}
                        {% if forloop.counter0 > 0 %}
                        <tr>
                            <td class="dprint" style="text-transform:capitalize;"><code class='format-text'>{{tipe.tipe_pembayaran}}</code></td>
                            <td class="dprint" text-align='right'><code class='format-text'>Rp {{tipe.total}}</code></td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="dprint" rowspan='2' style="font-size:12px"><code class='format-text'>{{bd.divisi}}</code></td>
                            <td class="dprint" style="text-transform:capitalize;"><code class='format-text'>{{tipe.tipe_pembayaran}}</code></td>
                            <td class="dprint" text-align='right'><code class='format-text'>Rp {{tipe.total}}</code></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <th class="hprint" colspan='2'>Total</th>
                        <th class="hprint"><code class='format-text'>Rp {{totalDivisi}}</code></th>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <h2>Perincian Pengeluaran Divisi Non Bayar</h2>
            <div class="col-12"> 
                <table class="tprint" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th class="hprint">Divisi</th>
                            <th class="hprint">Sub Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bc in bydivisiNon %}
                        <tr>
                            <td class="dprint"><code class='format-text'>{{bc.divisi}}</code></td>
                            <td class="dprint" text-align='right'><code class='format-text'>Rp {{bc.total}}</code></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <th class="hprint">Total</th>
                        <th class="hprint" text-align='right'><code class='format-text'>Rp {{totalDivisiNon}}</code></th>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 mt-5">
                <h2>Pembelian</h2>
                <table class="tprint" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th class="hprint">Kategori</th>
                            <th class="hprint">Sub Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in pembelian %}
                        <tr>
                            <td class="dprint"><code class='format-text'>{{p.kategori}}</code></td>
                            <td text-align='right' class="dprint"><code class='format-text'>Rp {{p.total}}</code></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <th class="hprint">Total</th>
                        <th class="hprint" text-align='right'><code class='format-text'>Rp {{totalPembelian}}</code></th>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 mt-5">
                <h2>Pengeluaran Barang</h2>
                <table class="tprint" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th class="hprint">Barang</th>
                            <th class="hprint">Tipe Pembayaran</th>
                            <th class="hprint">Sub Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in data_pengeluaran %}
                            {% for d in p.data %}
                                {% if forloop.counter0 > 0 %}
                                    <tr>
                                        <td class="dprint"><code class='format-text'>{{d.tipe}}</code></td>
                                        <td class="dprint" text-align='right'><code class='format-text'>Rp {{d.total}}</code></td>
                                    </tr>
                                {% else %}
                                <tr>
                                    <td class="dprint" rowspan="3"><code class='format-text'>{{p.barang}}</code></td>
                                    <td class="dprint"><code class='format-text'>{{d.tipe}}</code></td>
                                    <td class="dprint" text-align='right'><code class='format-text'>Rp {{d.total}}</code></td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <th class="hprint" colspan="2">Total</th>
                        <th class="hprint" text-align='right'><code class='format-text'>Rp {{totalPengeluaran}}</code></th>
                    </tfoot>
                </table>
            </div>
        </div>
        {% comment %} <div class="row d-flex justify-content-center">
            <div class="col-12">
                <table class="tprint">
                    <thead>
                        <tr>
                            <th class="hprint"></th>
                            <th class="hprint"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="dprint"></td>
                            <td class="dprint"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> {% endcomment %}
    </div>
    {% for d in data %}
    <h4 class='d-flex justify-content-center mb-3' style="font-family:monospace;font-weight:bold;">Rekap ATK Divisi {{d.divisi}} Bulan {{bulan}} Tahun {{tahun}}</h4>
    {% if forloop.counter > 0 %}
    <div class="row d-flex justify-content-between mt-2 gap-3" style="font-size:9px;break-after:page;">
        {% else %}
        <div class="row d-flex justify-content-between mt-2 gap-3" style="font-size:9px;">
    {% endif %}
        {% for c in d.counter %}
        <div class="col-3 mt-2 mx-3">
            <strong class='ml-2'>{{c.counter_bagian}}</strong>
            <table class='tprint' style='width: 100%;' cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th class="hprint">Jenis Barang</th>
                        <th class="hprint">Jumlah</th>
                        <th class="hprint">Sub Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for brg in c.barang %}
                    <tr>
                        <td class="dprint"><code class='format-text'>{{brg.barang}}</code></td>
                        <td class="dprint"><code class='format-text'>{{brg.qty}}</code></td>
                        <td class="dprint" style=""><code class='format-text'>Rp {{brg.total}}</code></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <th class="hprint" colspan='2'>Total</th>
                    <th class="hprint" colspan='1'><code class='format-text'>Rp {{c.subTotal}}</code></th>
                </tfoot>
            </table>
        </div>
        {% endfor %}
    </div>
        {% endfor %}
</body>
</html>

