{% extends "../template/base.html" %} {% load static %} {% block isi %} 
{% if messages %}
  {% for message in messages %}
    <p class="alert alert-danger">{{message}}</p>
  {% endfor %}
{% endif %}
<p id="msg"></p>


   <div class="w-full flex justify-end">
       <button href="" class="btn btn-primary mx-[10px]" id="buttonPostSelect">Post Selected Row</button>
       <button href="" class="btn btn-warning text-white" id="buttonPostAll">Post All</button>
  </div>

   {% endblock isi %}
{% block js %}
<script src="{% static "js/tPengeluaran.js" %}?102332"></script>t
{% endblock js %}